# Exclude the undesired files

# Exclude the .venv directory
.venv/ 

# Exclude the .vscode directory
.vscode/

# Exclude the TDS directory
tds_article_stuff/

# Exclude checkpoints
.ipynb_checkpoints/
